.patients {
    margin: 50px 0;
  }
  
  .patients-container {
    background-color: #2c3e50;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
  }
  
  .patients h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #f39c12;
    text-align: center;
  }
  input{
    background-color: #2c3e50;
  }
  label.form-label {
    color: #f39c12;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    color: #333;
  }
  
  button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #1abc9c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .table-container {
    margin-top: 50px;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead tr {
    background-color: #1abc9c;
    color: #fff;
  }
  
  thead th,
  tbody td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  tbody td:first-child {
    font-weight: bold;
  }
  @keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }
h4{
  color:#f39c12;
}

.error-message {
  color: white;
  background-color: rgba(241, 39, 39, 0.959);
  font-size: 14px;
  margin-top: 5px;
}