<div class="terms-and-conditions">
  <br /><br />
  <div class="container">
    <h1 class="centered-title">Términos y Condiciones de Uso - <b> KineApp</b></h1>
<br>
    <p>
      Bienvenido a nuestra aplicación <b> KineApp</b>. Antes de utilizarla, te pedimos
      que leas detenidamente los siguientes términos y condiciones que rigen el
      uso de nuestra aplicación. Al acceder y utilizar nuestra aplicación,
      aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo
      con alguno de ellos, por favor, abstente de utilizar nuestra aplicación.
    </p>

    <ol>
      <li>
        <h4>Propósito de la Aplicación:</h4>
        <p>
          Nuestra aplicación tiene como objetivo proporcionar recursos
          y herramientas para la gestion y mantenimiento de el consultorio Kinesiologico.
           La aplicación se proporciona únicamente con
          fines organizativos y no se pretende quitar ninguna informacion de la misma.
        </p>
      </li>
      <li>
        <h4>Contenido:</h4>
        <p>
          El contenido de la aplicación, incluyendo pero no limitado a textos,
          imágenes y diferentes materiales, son propiedad intelectual de
          sus respectivos autores y están protegidos por derechos de autor.
          Queda estrictamente prohibida la reproducción, distribución o
          modificación del contenido sin el consentimiento expreso de los
          titulares de los derechos.
        </p>
      </li>
      <li>
        <h4>Uso Adecuado:</h4>
        <p>
          Al utilizar nuestra aplicación, te comprometes a hacer un uso adecuado
          de la misma. No podrás utilizarla para:
        </p>
        <ol type="a">
          <li>Cualquier actividad ilegal o fraudulenta.</li>
          <li>
            Causar daño a la aplicación o a otros usuarios mediante la
            introducción de virus, malware u otro código malicioso.
          </li>
          <li>
            Realizar cualquier actividad que pueda interrumpir o afectar el
            funcionamiento de la aplicación.
          </li>
        </ol>
      </li>
      <li>
        <h4>Responsabilidad del Usuario:</h4>
        <p>
          Eres responsable de cualquier información o contenido que compartas a
          través de nuestra aplicación. Nos reservamos el derecho de eliminar
          cualquier contenido que consideremos inapropiado o que viole estos
          términos y condiciones.
        </p>
      </li>
      <li>
        <h4>Modificaciones:</h4>
        <p>
          Nos reservamos el derecho de realizar modificaciones en la aplicación,
          incluyendo la actualización, modificación o eliminación de
          funcionalidades, en cualquier momento y sin previo aviso.
        </p>
      </li>
      <li>
        <h4>Enlaces Externos:</h4>
        <p>
          Nuestra aplicación puede contener enlaces a sitios web de terceros. No
          tenemos control sobre el contenido o las políticas de privacidad de
          estos sitios, por lo que no asumimos responsabilidad alguna por ellos.
        </p>
      </li>
      <li>
        <h4>Limitación de Responsabilidad:</h4>
        <p>
          En ningún caso seremos responsables por cualquier daño directo,
          indirecto, incidental, especial o consecuente derivado del uso o la
          imposibilidad de utilizar nuestra aplicación.
        </p>
      </li>
      <li>
        <h4>Ley Aplicable:</h4>
        <p>
          Estos términos y condiciones se regirán e interpretarán de acuerdo con
          las leyes vigentes de Argentina. Cualquier disputa
          relacionada con estos términos y condiciones estará sujeta a la
          jurisdicción exclusiva de los tribunales competentes de Justiniano Posse.
        </p>
      </li>
    </ol>

    <p>
      Si tienes alguna pregunta o duda sobre estos términos y condiciones, por
      favor contáctanos a través de +54 3537316731.
    </p>
  </div>
</div>
