<section class="patients" class="patients" transition-style='in:circle:center'>
  <div class="patients-container">
    <hr>
      <h2 class="animate__animated animate__backInDown">Consulta de pacientes</h2>
      <input type="text" [(ngModel)]="filtroNombre" placeholder="Filtrar por nombre">
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th class="animate__animated animate__backInDown">Nombre Completo</th>
              <th class="animate__animated animate__backInDown">DNI</th>
              <th class="animate__animated animate__backInDown">Fecha Nacimiento</th>
              <th class="animate__animated animate__backInDown">Sexo</th>
              <th class="animate__animated animate__backInDown">Email</th>
              <th class="animate__animated animate__backInDown">Teléfono</th>
              <th class="animate__animated animate__backInDown">Antecedentes</th>
              <th class="animate__animated animate__backInDown">Obra social</th>
              <th class="animate__animated animate__backInDown">Historial medico</th>
              <th class="animate__animated animate__backInDown">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of Pacientes">
              <ng-container *ngIf="paciente.nombre.toLowerCase().includes(filtroNombre.toLowerCase())">
              <td>{{paciente.nombre}} {{paciente.apellido}}</td>
              <td>{{paciente.dni}}</td>
              <td>{{paciente.fechaNacimento | date:'dd/MM/yyyy'}}</td>
              <td>{{paciente.sexo ? 'Hombre' : 'Mujer'}}</td>
              <td>{{paciente.email}}</td>
              <td>{{paciente.telefono}}</td>
              <td>{{paciente.antecedentes}}</td>
              <td>{{paciente.dtoObraSocial?.descripcion}}</td>
              <td> 
                <i class="bi bi-clipboard icono-grande" data-toggle="modal" data-target="#historialModal"  (click)="abrirModal(paciente.historialMedico)"></i>
                
              </td>
              <td>
                <i class="bi bi-pencil separar" (click)="actualizarArticulo(paciente.idPaciente)"></i> 
                <app-baja [idPaciente]="paciente.idPaciente" (onEliminar)="actualizarListado()"></app-baja>
              </td>  
            </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</section>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-historial-label" aria-hidden="true" id="historialModal" *ngIf="modalAbierto">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-historial-label">Historial médico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAbierto = false;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Fecha de creación:</strong> {{historialMedicoSeleccionado.fechaCreacion | date:'dd/MM/yyyy'}}</p>
        <p><strong>Descripción:</strong> {{historialMedicoSeleccionado.descripcion}}</p>
        <p><strong>Nota:</strong> {{historialMedicoSeleccionado.nota}}</p>
      </div>
    </div>
  </div>
</div>



    
    