<br><br>
<h1 class="centered-title">Preguntas Frecuentes</h1>
<br><br>
<div class="accordion container" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="bi bi-caret-right-fill"></i> ¿Cómo puedo registrarme como paciente en la aplicación?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            1- Haz clic en "Registrarse" en el formulario de Logueo, sino puedes seleccionar "Registrar Paciente" en el menu de navegacion. <br>
            2- Completa el formulario de registro con tu información personal, como nombre, Apellido, DNI, y datos de tu Usuario. <br>
            3- Haz clic en el botón "Registrar" para enviar el formulario coon tus datos. <br>
            4- Una vez llenado el formulario de registro. Inicie sesion con los datos de usuario que registro anteriormente
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="bi bi-caret-right-fill"></i> ¿Cómo puedo exportar mis turnos a Excel?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         1- Debes Loguearte con tu usuario y contraseña <br>
         2- Ir a la seccion "Consultar Turnos" y darle click en "Exportar"
        </div>
      </div>
    </div>
  </div>