<main transition-style='in:circle:center'>
  <section class="hero">
    <div class="container">
      <h1>Bienvenidos a nuestro Consultorio Kinesiológico</h1>
      <p>Aquí encontrarás atención especializada para tus lesiones y dolencias musculares.</p>
      <a href="#" class="btn btn-primary" (click)="navegar()" routerLink="registrarTurno">Agenda tu cita</a>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <h2 style="color: #f39c12;">Nuestros servicios</h2>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="service">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/631/492/small/physiotherapist-or-rehabilitologist-doctor-rehabilitates-patient-flat-cartoon-illustration-physiotherapy-rehab-injury-recovery-and-healthcare-concept-free-vector.jpg" alt="Fisioterapia">
            <h3>Fisioterapia</h3>
            <p>Nuestro servicio de <b>Fisioterapia</b> especializada para aliviar dolor, mejorar la movilidad y la recuperacion fisica.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="service">
            <img src="https://img.freepik.com/vector-premium/dia-mundial-fisioterapia-concepto-vector-recuperacion-medica_278713-431.jpg?auto=format&h=200" alt="Rehabilitación">
            <h3>Rehabilitación</h3>
            <p>Nuestro servicio de <b>Rehabilitacion</b> experta para recuperar habilidades perdidas y mejorar la funcionalidad.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="service">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/014/280/178/small/masseur-icon-cartoon-style-vector.jpg" alt="Masajes">
            <h3>Masajes</h3>
            <p>Relájate y renueva tu bienestar con nuestros <b>Masajes</b> profesionales que alivian tensiones y buscan la relajación.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about">
    <div class="container">
      <div class="about-content">
        <div class="about-text  col-md-8 col-sm-12">
          <h2>Sobre mí</h2>
          <p>Soy un Kinesiólogo profesional con amplia experiencia en el campo de la rehabilitación y el bienestar. Mi objetivo es ayudar a mis pacientes a recuperar su movilidad, aliviar el dolor y mejorar su calidad de vida.</p>
        </div>
        <div class="about-image col-md-4 col-sm-12">
          <img src="../../assets/juan.jpeg" alt="Foto de Kinesiólogo">
        </div>
      </div>
    </div>
  </section>
  
  <section class="contact">
    <div class="container">
      <h2>Contacto</h2>
      <div class="contact-info">
        <div class="info">
          <div><iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d4180.838598023681!2d-62.67956838275669!3d-32.88669710366833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzLCsDUzJzEyLjMiUyA2MsKwNDAnNDcuNSJX!5e0!3m2!1ses-419!2sar!4v1686684627246!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
        <div class="info">
           <p style="color: aliceblue;">
            Comuniquese al 
            <a href="https://api.whatsapp.com/send?phone=5493537556069&text=Hola,%20Necesito%20un%20turno" target="_blank"><b> 3537556069</b></a> De lunes a viernes de 8 a 18 hs
          </p>
        </div>
      </div>
    </div>
  </section>
  
  
  
</main>
<footer>
  <div class="container">
    <p>&copy; 2023 Consultorio
      


      

