<main transition-style='in:circle:center'>
  <section class="hero">
    <div class="container">
      <h1>Bienvenidos al Consultorio Kinesiológico</h1>
      <p>Aquí encontrarás atención especializada para tus lesiones y dolencias musculares.</p>
      <a href="#" class="btn btn-primary" (click)="navegar()" routerLink="registrarTurno">Agenda tu cita</a>
    </div>
  </section>

  <section class="services">
    <div class="container">
      <h2 style="color: #f39c12;">Nuestros servicios</h2>
      <div class="row">
        <div class="col">
          <div class="service">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/008/631/492/small/physiotherapist-or-rehabilitologist-doctor-rehabilitates-patient-flat-cartoon-illustration-physiotherapy-rehab-injury-recovery-and-healthcare-concept-free-vector.jpg" alt="Fisioterapia">
            <h3>Fisioterapia</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget velit felis. Curabitur laoreet arcu eget arcu molestie aliquam.</p>
          </div>
        </div>
        <div class="col">
          <div class="service">
            <img src="https://img.freepik.com/vector-premium/dia-mundial-fisioterapia-concepto-vector-recuperacion-medica_278713-431.jpg?auto=format&h=200" alt="Rehabilitación">
            <h3>Rehabilitación</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget velit felis. Curabitur laoreet arcu eget arcu molestie aliquam.</p>
          </div>
        </div>
        <div class="col">
          <div class="service">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/014/280/178/small/masseur-icon-cartoon-style-vector.jpg" alt="Masajes">
            <h3>Masajes</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget velit felis. Curabitur laoreet arcu eget arcu molestie aliquam.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <h2>Sobre nosotros</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget velit felis. Curabitur laoreet arcu eget arcu molestie aliquam. In lacinia eleifend lectus, eu suscipit velit. Proin blandit sem eget enim feugiat, ac blandit odio feugiat.</p>
    </div>
  </section>
</main>
<footer>
  <div class="container">
    <p>&copy; 2023 Consultorio
